* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    font-family: sans-serif;
    color: #7f1519;
}

/* Header and logo*/
h1, h2 {
    color: #006d35;
}

#logo {
    float: none;
    font-size: 280%;
    position: relative;
    left: 30%;
}