@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-family: Montserrat, sans-serif;
}

/* Header and logo*/
h1, h2 {
    color: #006d35;
    font-family: Montserrat, sans-serif;
    
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: #006d35;
    padding: 32px 0 32px 0;
}

#logo {
    margin-top: 30px;
    float: none;
    font-size: 300%;
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
}

/* Navigation */

nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#menu {
    padding: 5px 0 5px 0;
    font-size: 130%;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    line-height: 32px;
}

ul {
    margin-top: 15px;
}

#menu li {
    display: inline;
    padding: 0 10px 0 10px;
    letter-spacing: 3px;
}

#menu a {
    text-decoration: none;

}

/* middle part */

section {
    width: 100%;
    background: url("../images/adaptogens.jpg") no-repeat center center fixed;
}

#middle-area {
    padding: 32px 0 32px 0;
    background-color: rgba(255, 255, 255, 0.65);
    width: 100%;
    margin: 0 auto;
    border: 2px solid #e84610;
}

#middle-text-area {
    vertical-align:middle;
    text-align: center;
}

#middle-text-area h1 {
    font-size: 40px;
    color: black;
}

.middle-text {
    margin: 0 1em;
}

p {
    font-size: 16px;
    font-weight: 600;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: #006d35;
    padding: 22px 0 22px 0;
    position: relative;
    bottom:0;
}

/* social media icons and links in footer */

.social-link {
    text-align: center;
}

.social-link > li {
    display: inline;
}

.social-link i {
    font-size: 200%;
    margin: 1%;
    color: #ffffff;
}

/* small screen sizes 768px and down */
@media screen and (min-width: 601px) {
    
    header,
    nav,
    footer,
    #middle-area {
        width: 80%;
    }
}

@media screen and (min-width: 993px) {
    header,
    nav,
    footer,
    #middle-area {
        width: 75%;
    }
}