@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    font-family: Montserrat, sans-serif;
}

/* Header and logo*/
h1, h2 {
    color: #006d35;
    font-family: Montserrat, sans-serif;
}

#header-area {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #006d35;
    padding: 32px;
}

#logo {
    margin-top: 30px;
    float: none;
    font-size: 280%;
    position: relative;
    text-align: center;
}

/* Navigation */

nav {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    text-align: center;
}

#menu {
    padding: 5px 0 5px 0;
    font-size: 120%;
    margin-top: 30px;
    text-align: center;
    line-height: 32px;
}

ul {
    margin-top: 15px;
}

#menu li {
    display: inline;
    padding: 0 10px 0 10px;
    letter-spacing: 3px;
}

#menu a {
    text-decoration: none;

}
/* middle */

#background {
    height: auto;
    width: 100%;
    background: url("/assets/images/adaptogens.jpg") no-repeat center center fixed;
}

#middle-area {
    width: 100%;
    max-width: 956px;
    height: 612px;
    margin: 0 auto;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.65);
    border: 2px solid #e84610;
    overflow: auto;
}

#middle-text-area {
    /* padding: 32px; */
}

#middle-text-area h1 {
    font-size: 40px;
    color: black;
}

p {
    font-size: 16px;
    font-weight: 600;
}

#footer-area {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #006d35;
    padding: 32px;
    position: relative;
    bottom:0;
}

/* small screen sizes 768px and down */
@media screen and (max-width: 768px) {
    
    #middle-area {
        max-width: 100%;
    }
}